version: "3.3"
services:
  backend:
    build: ./backend
    container_name: tp-backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/usersdb
    networks:
      - webnet

  frontend:
    build: ./frontend
    container_name: tp-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - webnet

  mongo:
    build:
      context: ./database
      dockerfile: Dockerfile
    container_name: tp-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - webnet
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongo-data:

networks:
  webnet:
    driver: bridge
